@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  color: black;
  padding: 10vw;
}
.editor {
  &__description {
    display: block;
  }
  &__text {
    min-width: 80vw;
    min-height: 50vh;
  }
}
.button__save {
  min-width: 10vw;
  margin-right: 5vw;
  margin-left: 45vw;
}
.button__load {
  min-width: 10vw;
}
